@use "constants" as *;
@use "sass:math";

@function fluid($max: 100, $min: 10, $isEndOfLaptop: false) {
  $maxViewportWidth: $container-desktop-width;
  $minViewportWidth: 390;

  @if ($isEndOfLaptop) {
    $minViewportWidth: $container-laptop-width;
  }

  $maxSize: math.div(
    $max: 16,
  );
  $minSize: math.div(
    $min: 16,
  );
  $maxWidth: math.div($maxViewportWidth);
  $minWidth: math.div($minViewportWidth);

  $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
  $yAxisIntersection: -$minWidth * $slope + $minSize;

  @return clamp(
    #{$minSize * 1rem},
    #{$yAxisIntersection * 1rem} + #{$slope + 100vw},
    #{$maxSize * 1rem}
  );
}

@function fluid-to-laptop($max: 100, $min: 10) {
  @return fluid($max, $min, true);
}
